@model Films

@{
    ViewBag.Title = "Film Annuleren";
}
@await Component.InvokeAsync("WelkomsBericht")
<h2>Film Annuleren</h2>

<div>
    <h3>@Model.Titel verwijderen uit je winkelmandje</h3>
</div>
<form asp-controller="Klant" asp-action="DeleteRentExecute" asp-route-filmId="@Model.FilmId" method="post">
    <button type="submit" class="btn btn-success">Ja</button>
</form>
<form asp-controller="Klant" asp-action="Winkelmandje"  method="get">
    <button type="submit" class="btn btn-success">Neen</button>
</form>
