@model IEnumerable<VideoVerhuur.Models.Films>

@await Component.InvokeAsync("WelkomsBericht")
@if (Model != null && Model.Any())
{
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Prijs</th>
                    <th>In Voorraad</th>
   
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var film in Model)
            {
                        <tr>
                            <td>@film.Titel</td>
                            <td>@film.Prijs.ToString("C2").Substring(1)</td> 
                            <td>@film.InVoorraad</td>
                          
                            <td>
                        @if (film.InVoorraad != 0)
                        {
                            <form asp-controller="Klant" asp-action="Winkelmandje" method="post" class="d-inline">
                                <input type="hidden" name="filmId" value="@film.FilmId" />
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <img src="~/Images/plus.png" alt="Huren" width="30" height="30" style="border: none;" />
                                </button>
                            </form>

                        }
                    </td>
                        </tr>
            }
            </tbody>
        </table>

    <a asp-action="Index" asp-controller="Klant"  class="btn btn-secondary">
         Terug naar genre
    </a>
}
else
{
        <p>Er zijn geen films beschikbaar voor dit genre.</p>
}

