@model Films

@{
    ViewBag.Title = "Film Huren";
}
@await Component.InvokeAsync("WelkomsBericht")
<h2>Film Huren</h2>

<div>
    <h3>@Model.Titel</h3>
</div>
<a href="javascript:window.location.replace(document.referrer);" class="btn btn-secondary">⟵ Vorige pagina</a>
<form asp-controller="Klant" asp-action="Afrekenen" method="post">
    <button type="submit" class="btn btn-success">💳 Afrekenen</button>
</form>


